body{
    display:flex;
    flex-direction:column;}

a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}

button{
    background-color:#3882F6;
    color:white;
    border-radius: 5px;
    padding: 5px 13px;
    font-size: 12px;
    cursor: pointer;
}
    
.header{
    display:flex;
    flex-direction: column; 
    background-color: #1f2937;
    color:white;
    flex:1;
    
    
}
.navi{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
    
}

.txtim{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex:1;
    
    
}

.c1{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

.c1 button{
    width:100px;
}

.c2{
    height:200px;

    width:450px;
}



.logo{

font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;

}

.bar ul{
    display: flex;
    justify-content: center;
    gap:20px;
   
    list-style: none;
}




.txtim img{
    height: 200px;
    margin-right: 80px;
  
}


.info{
    display:flex;
    flex-direction: column;
    background-color: white;
    color:black;

}

.hold{
    display:flex;
    flex:1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hold img{
    height: 250px;
    width: 250px;
}

.quote{
    height:250px;
    display:flex;
    background-color: #e5e7eb;
    font-size:36px;
    font-style: italic;
    justify-content: center;
    align-items: center;

}
.action{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px 250px;
}
.box{
    display: flex;
    height:120px;
    background-color: rgb(0, 0, 255);
    flex:1;
    justify-content: center;
    align-items: center;
    color:white;
    gap:25px;
    
}

.box button{
    height:30px;
    width: 100px;
    border:1px solid white;
}

.footer{
    display:flex;
    background-color: #1f2937;
    color:white;
    height: 100px;
    justify-content: center;
    align-items: center;

}